<ion-tabs>

    <ion-tab title="home" icon-on="ion-ios-home"
             icon-off="ion-ios-home-outline" ui-sref="tab.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="note" icon-on="ion-compose"
             icon-off="ion-compose" ui-sref="tab.aide">
        <ion-nav-view name="tab-note"></ion-nav-view>
    </ion-tab>


    <ion-tab title="route" icon-on="ion-arrow-graph-up-left"
             icon-off="ion-arrow-graph-up-left" ui-sref="tab.socCGTop">
        <ion-nav-view name="tab-route"></ion-nav-view>
    </ion-tab>

</ion-tabs>