<ion-view>
    <ion-content>
<div class="activenews">
    <ul class="soccgtop_top">
        <li><a href="#/tab/socCGTop">CGTop</a></li>
        <li><a>活动通知</a></li>
        <li><a href="#/tab/schoolNotice">校园通知</a></li>
        <li><a href="#/tab/email">邮件</a></li>
    </ul>
    <div class="an_cont">
        <div class="an_cont_1" ui-sref="activedetail">
            <div class="an_boat"><img src="images/boat.png"></div>
            <!--活动结束结构-->
            <div class="an_end_shadow">
                <img src="images/已结束_03.png">
            </div>
            <!--活动结束结构  end-->
            <div class="an_desc">
                <h3>海报创意设计</h3>

                <p>海子团队讲解想法，带你开拓思维与想法</p>

                <div class="an_local">
                    <img src="images/定位.png">
                    <span>火星时代</span>
                </div>
                <div class="an_time">
                    <img src="images/时间.png">
                    <span>2015-05-05</span>
                </div>
            </div>
        </div>
        <div class="an_cont_1" ui-sref="activedetail">

            <div class="an_boat"><img src="images/boat.png"></div>
            <div class="an_end_shadow dispear">
                <img src="images/已结束_03.png">
            </div>
            <div class="an_desc">
                <h3>海报创意设计</h3>

                <p>海子团队讲解想法，带你开拓思维与想法</p>

                <div class="an_local">
                    <img src="images/定位.png">
                    <span>火星时代</span>
                </div>
                <div class="an_time">
                    <img src="images/时间.png">
                    <span>2015-05-05</span>
                </div>
            </div>
        </div>
        <div class="an_cont_1" ui-sref="activedetail">
            <div class="an_boat"><img src="images/boat.png"></div>
            <div class="an_end_shadow ">
                <img src="images/已结束_03.png">
            </div>
            <div class="an_desc">
                <h3>海报创意设计</h3>

                <p>海子团队讲解想法，带你开拓思维与想法</p>

                <div class="an_local">
                    <img src="images/定位.png">
                    <span>火星时代</span>
                </div>
                <div class="an_time">
                    <img src="images/时间.png">
                    <span>2015-05-05</span>
                </div>
            </div>
        </div>

    </div>
</div>
    </ion-content>
</ion-view>
