<ion-view view-title="关于我们">
    <ion-nav-buttons>
        <button class="button button-clear icon ion-navicon" menu-toggle=""></button>
    </ion-nav-buttons>
    <ion-content>
        <div style="padding-left: 38%;margin-bottom: 5%;margin-top: 2.5%;">
            <i class="icon ion-social-freebsd-devil positive" style="font-size: 5em;"></i>
        </div>
        <ion-list>
            <ion-item class="item">
                <p>在线客服</p>
            </ion-item>
            <ion-item class="item">
                <p>问卷调查</p>
            </ion-item>
            <ion-item class="item" style="margin-top: 10px">功能介绍</ion-item>
            <ion-item class="item">帮助与反馈</ion-item>
            <ion-item class="item">给我们评分</ion-item>
        </ion-list>
        <p style="font-size: 12px;text-align: center;margin-top: 30%;">xx公司 版权所有<br>Copyright © 1998 - 2014 Tencent. All Rights Reserved. </p>
    </ion-content>
</ion-view>