<ion-view view-title="账号">
    <ion-nav-buttons>
        <button class="button button-clear icon ion-navicon" menu-toggle=""></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <div class="item item-input">
                <span class="input-label" style="width: 20px;">账号:</span>
                <input type="text" placeholder="用户名">
            </div>
            <div class="item item-input">
                <span class="input-label" style="width: 20px;">密码:</span>
                <input type="password" placeholder="输入密码">
            </div>
            <div class="button button-full button-calm">登陆</div>
        </div>    </ion-content>
</ion-view>