<ion-view>
<div class="details-header"><span ui-sref="tab.schoolNotice"><a><i class="ion-chevron-left"></i></a>&nbsp;校园广播</span></div>
<div class="details-content">
    <div class="details-title clearfix">
        <h3>2016春季招聘会</h3>
        <p>2016-2-13 03:51:57</p>
        <span>#就业</span>
    </div>
    <p style="margin-top: 1.95rem;">2016年春季招聘会将于2016年4月12日在火星时代举行。</p>
    <p>2016年，火星时代已在全国十一所城市开设了实训
        基地，分别为北京、上海、广州、深圳、杭州、成都
        武汉、西安、重庆、南京、厦门。在培养及帮助更多
        人实现梦想的同时，我们也收到了来自各校区知名企
        业的合作及人才需求。</p>
    <p>特此，火星时代将于2016年4月预备举办第七
        届大型人才专场（春季）招聘会，同时邀请各行业合
        作伙伴、知名企业、创业型公司加入，同时免费面向
        求职者开放，为广大的火星学员及行业从业者提供数
        量更多、领域更广、岗位更全的招聘会。为企业及人
        才提供更有力的沟通、交流、服务的平台，也希望借
        火星时代强大影响力和丰富资源，帮助火星学员实现
        个人价值。</p>
</div>
</ion-view>
