<ion-view>
    <ion-content>
<ul class="soccgtop_top">
    <li><a href="#/tab/socCGTop">CGTop</a></li>
    <li><a href="#/tab/activenews">活动通知</a></li>
    <li><a>校园通知</a></li>
    <li><a href="#/tab/email">邮件</a></li>
</ul>
<ul class="notice_main">
    <li ui-sref="schooldetails"><a>
        <h2>2016春季招聘会<i>16-2-13</i></h2>
        <span>#新闻</span>
        <p>2016年春季招聘会将于2016年4月12日在火星时....</p>
       </a>
    </li>
    <li ui-sref="schooldetails"><a>
        <h2>2016春季招聘会<i>16-2-13</i></h2>
        <span>#新闻</span>
        <p>2016年春季招聘会将于2016年4月12日在火星时....</p>
    </a>
    </li>
    <li ui-sref="schooldetails"><a>
        <h2>2016春季招聘会<i>16-2-13</i></h2>
        <span>#新闻</span>
        <p>2016年春季招聘会将于2016年4月12日在火星时....</p>
    </a>
    </li>
    <li ui-sref="schooldetails"><a>
        <h2>2016春季招聘会<i>16-2-13</i></h2>
        <span>#新闻</span>
        <p>2016年春季招聘会将于2016年4月12日在火星时....</p>
    </a>
    </li>
    <li ui-sref="schooldetails"><a>
        <h2>2016春季招聘会<i>16-2-13</i></h2>
        <span>#新闻</span>
        <p>2016年春季招聘会将于2016年4月12日在火星时....</p>
    </a>
    </li>
</ul>
    </ion-content>
</ion-view>
