<ion-view>
    <div class="evaluate-header"><span ui-sref="tab.home"><a><i class="ion-chevron-left"></i></a>&nbsp;火星助手</span>
    </div>
    <div class="evaluate-help">
        <textarea class="evaluate-text"></textarea>
        <button class="evaluate-button-one">快来帮帮我</button>
    </div>
    <ul class="evaluate-list">
        <li><span>提交时间</span><span>处理状态</span><span style="margin-right: 0">处理状态</span></li>
        <li><span>13:23<i>2016/4/19</i></span><span>处理中</span><span><button class="evaluate-button-two">评价</button></span></li>
        <li style="border: none"><span>14:03<i>2016/4/10</i></span><span>已处理</span><span>已评价</span></li>
    </ul>
</ion-view>
