<ion-view>
    <div class="fgpd_title">
        <div class="top"><span ui-sref="loging"><a><i class="ion-chevron-left"></i></a>&nbsp;忘记密码</span></div>
        <div class="cont">
            <input type="text" value="电话"/>
            <input  type="text" value="验证码"/><span></span>
            <input  type="text" value="新密码"/>
            <input class="one" type="text" value="确认新密码"/>
            <p>密码长度至少6个字符，最多32个字符</p>
        </div>
        <div class="but"><button type="button" ui-sref="tab.home">提交</button></div>

    </div>
</ion-view>
