<div id="changepd">
    <ion-content style="font-style: normal">
        <div class="password-box">
            <div class="password-header"><span ui-sref="Settings"><a><i class="ion-chevron-left"></i></a>&nbsp;修改密码</span></div>
            <div class="password-input">
                <input type="password">
                <input type="password">
                <input type="password" style="padding-left: 34%;width: 57.666%">
            </div>
    <span class="password-txt">
        原密码<br>
        新密码<br>
        确认新密码
    </span>

            <p class="password-p">密码长度至少6个字符，最多32个字符</p>
            <button class="password-button" ui-sref="Setting">提交</button>
        </div>
    </ion-content>
</div>

