<ion-view>
    <div class="enter">
        <div class="pic"><img src="images/pic_03.jpg"/></div>
        <form>

            <input class="one" type="text" placeholder="用户名"/>

            <input type="password" placeholder="密码"/>
            <span class="ico_one icon ion-android-person"></span>
            <span class="ico_two icon icon ion-locked"></span>

        </form>

        <div class="but">
            <button type="button" ui-sref="loging">登录</button>
        </div>
        <p ui-sref="forgetpd">忘记密码了？</p>
    </div>
</ion-view>
