
<ion-content>
    <div class="grade-header clearfix">
        <div class="grade-tx clearfix">
            <img src="images/我的成绩_03.png">
        </div>

        <div class="grade-info">
            <p style="margin-top: 4.166667%;display:inline-block;font-size: 2rem;color: #505050;">李雷</p><span class="grade-fast">总排名:11</span>

            <p style="font-size: 1.4rem;color: #707070;line-height: 3rem">班级：1603期UI视觉设计师班1班</p>

            <p style="font-size: 1.4rem;color: #707070;line-height: 1rem">作业提交率：100%<span style="margin-left: 5.833333%">考勤率：97%</span></p>
        </div>
    </div>
    <div class="grade-title">
        专业成绩
    </div>
    <div class="grade">
        <div class="grade-quxian-bg">
            <ul class="grade-quxian clearfix">
                <li>B+</li>
                <li>A-</li>
                <li>A-</li>
                <li><span>H5响应式设计应用课</span><br>A</li>
                <li>B+</li>
            </ul>
        </div>

        <div class="grade-week">
            <ul class="clearfix">
                <li>第二周</li>
                <li>第三周</li>
                <li>第四周</li>
                <li>第五周</li>
                <li>第六周</li>
            </ul>
        </div>
        <div class="grade-quality">
            <span>职业素质分</span>
            <div class="grade-Progress-bg" ui-sref="zhiyeScore"></div>
        </div>
        <div class="grade-surpass">
            <div class="grade-surpass-bg">
                <div>
                    击败了85%的同学
                </div>
            </div>
            <div class="grade-top">
                <img src="images/我的成绩_28.png">
            </div>
        </div>
    </div>

</ion-content>

