<ion-view>
    <ion-content>
        <div class="workerScore">
            <div class="ws_top"><span ui-sref="grade"><a><i class="ion-chevron-left"></i></a>&nbsp;职业素质分</span></div>
            <div class="ws_img">
                <div class="ws_score"><img src="images/职素分-状态01_07.png">
                    <i>95</i>
                    <span>请注意保持良好的学习状态与考勤</span>
                </div>
            </div>
            <div class="ws_title">
                <i>时间</i>
                <i>调整分数</i>
                <i>说明</i>
            </div>
            <div class="ws_detail">
                <span>2016/06/15</span>
                <i>+2</i>
                <p>入选五星作品</p>
            </div>
            <div class="ws_detail">
                <span>2016/06/15</span>
                <i>+2</i>
                <p>入选五星作品</p>
            </div>
            <div class="ws_detail">
                <span>2016/06/15</span>
                <i>+2</i>
                <p>入选五星作品</p>
            </div>
        </div>
    </ion-content>
</ion-view>

