<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="../CSS/base.css" rel="stylesheet"/>
    <link href="../CSS/varityCss.css" rel="stylesheet"/>

<body>
<div class="personD_main">
    <span>&lt;</span>

    <div class="pic">
        <div class="mid"><img src="../images/min.png"/></div>
        <div class="pic_one">
            <a>李雷个人五星作品</a>
            <img src="../images/samll.png"/>
            <div class="pic_two"><img src="../images/ion.png"/></div>
            <div class="portrait"><img src="../images/rt.png"/></div>

        </div>

    </div>
</div>

</body>
</html>