
<ion-view>
        <div class="nav">
            <span ui-sref="tab.home"><a><i class="ion-chevron-left"></i></a>&nbsp;作品盒子</span>
            <div ui-sref="worksearch"><img src="images/worksearch.png"></div>
        </div>
        <div class="work_b">
            <div class="work_b_1" ui-sref="workoperadz">
                <div class="work_b1" >
                    <img src=" images/bjopera.png">
                </div>
                <div class="work_b1-1">
                    <div><img src="images/man.png"></div>

                    <span>李雷</span>
                    <i>1502UI视觉设计2班</i>
                </div>
            </div>
            <div class="work_b_1" ui-sref="workoperadz">
                <div class="work_b1 ">
                    <img src=" images/bjopera.png">
                </div>
                <div class="work_b1-1">
                    <div><img src="images/man.png"></div>
                    <span>李雷</span>
                    <i>1502UI视觉设计2班</i>
                </div>
            </div>
            <div class="work_b_1" ui-sref="workoperadz">
                <div class="work_b1 ">
                    <img src=" images/bjopera.png">
                </div>
                <div class="work_b1-1">
                    <div><img src="images/man.png"></div>
                    <span>李雷</span>
                    <i>1502UI视觉设计2班</i>
                </div>
            </div>
            <div class="work_b_1" ui-sref="workoperadz">
                <div class="work_b1 ">
                    <img src=" images/bjopera.png">
                </div>
                <div class="work_b1-1">
                    <div><img src="images/man.png"></div>
                    <span>李雷</span>
                    <i>1502UI视觉设计2班</i>
                </div>
            </div>
            <div class="work_b_1" ui-sref="workoperadz">
                <div class="work_b1 ">
                    <img src=" images/bjopera.png">
                </div>
                <div class="work_b1-1">
                    <div><img src="images/man.png"></div>
                    <span>李雷</span>
                    <i>1502UI视觉设计2班</i>
                </div>
            </div>
            <div class="work_b_1" ui-sref="workoperadz">
                <div class="work_b1 ">
                    <img src=" images/bjopera.png">
                </div>
                <div class="work_b1-1">
                    <div><img src="images/man.png"></div>
                    <span>李雷</span>
                    <i>1502UI视觉设计2班</i>
                </div>
            </div>
        </div>
</ion-view>


