<ion-view>

    <ul class="soccgtop_top">
        <li><a>CGTop</a></li>
        <li><a href="#/tab/activenews">活动通知</a></li>
        <li><a href="#/tab/schoolNotice">校园通知</a></li>
        <li><a href="#/tab/email">邮件</a></li>
    </ul>
    <ul class="soccgtop_main">
        <li ui-sref="Cgtopvideo"><a><p >创意在哪里？</p><span>#海报设计</span></a></li>
        <li ui-sref="Cgtopvideo"><a><p>奇幻森林之旅</p><span>#影视特效</span></a></li>
        <li ui-sref="Cgtopvideo"><a><p>我们一路向前</p><span>#行业经验</span></a></li>
    </ul>

</ion-view>
