<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="stylesheet" href="css/base.css">
    <style type="text/css">

    </style>
</head>
<body>
<div>
    <div class="popup_mask"></div>
    <dl class="popup_alert">
        <dt>修改头像</dt>
        <dd><img src="images/设置-选择_03.png">从相册中选择</dd>
        <dd><img src="images/设置-选择_07.png">拍照</dd>
    </dl>
</div>
</body>
</html>