<ion-view>
<div id="gg" style="font-style: normal !important;">
    <ion-content >
        <div class="header">
            <div class="touxiang clearfix">
                <div class="tx clearfix" ui-sref="Settings">
                <img src="images/home_03.png"></div>

                <div class="info fl" ui-sref="grade">
                    <p style="display:inline-block;font-weight: bold;color: white;font-size: 2rem;margin-right: 5px;">李磊</p>总排名:<span>11</span>

                    <p>平均成绩:<i>A-</i>

                    <p>职业素质:<i>95</i></p>
                </div>
            </div>
            <div class="qiandao">
                <a href="#"><img src="images/qiandao.png"></a>
            </div>
        </div>
        <ion-slide-box auto-play="true" slide-interval="1500"
                       does-continue="true" show-pager="ture">
            <ion-slide>
                <div class="boat clearfix">
                  <a href="#"><img src="images/boat.png"></a>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="boat clearfix">
                    <a href="#"><img src="images/boat.png"></a>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="workbox clearfix">
            <div class="workbox_title clearfix">
                <a class="box_1"><img src="images/pencil.png">
                    <p>作品盒子</p></a>
                <a class="start" ui-sref="workbox"><i >开启</i></a>
            </div>
            <div class="work_cont clearfix">
                <a class="" ui-sref="workoperadz"><img src="images/bjopera.png"><span>冯素素</span>

                    <p>1602期UI设计师</p></a>
                <a  style="margin-left: 4%;"><img src="images/pic_r.png"><span>冯素素</span>

                    <p>1602期UI设计师班</p></a>
            </div>
        </div>
    </ion-content>
</div>
</ion-view>