<ion-view view-title="附近">
    <ion-nav-buttons>
        <button class="button button-clear icon ion-navicon" menu-toggle=""></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card" ng-repeat="restaurant in restaurants">
            <div class="item item-text-wrap">
                <h2>{{restaurant.name}}</h2>
                <p>{{restaurant.city}},{{restaurant.address}}</p>
            </div>
            <div class="item item-image">
                <img ng-src="{{restaurant.image_url}}"/>
            </div>
        </div>

        <!--无限滚动:如果所有的页面都加载完了(例如，共30页)，则不再出现此组件-->
        <ion-infinite-scroll on-infinite="getRestaurants()" ng-if="total>page" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>